<div>
<h1><%= @house.name %></h1>
<p><%= @house.motto %></p>
<p><%= @house.author %></p>
<p><%= @house.source %></p>

<h1> Members: </h1>
<% @members.each do |member| %>
<li><%= member.first_name %> <%= member.last_name %>
<%= member.created_at.strftime("%B %d %Y") %>
</li>
<% end %>

<%= link_to "Add a House Member", new_house_member_path(@house) %>
<div/>
